@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500;600;700&family=M+PLUS+Code+Latin:wght@300;400;500;600;700&display=swap');

.container {
    position: absolute;
    background-image: url('../../assets/caminhoesFundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.AgilidadeText {
    position: absolute;
    top: 285px;
    left: 88px;
    width: 807px;
    height: 37px;
    font-family: 'M PLUS Code Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: 4px;
    text-align: right;
    color: #FFFFFF;
}


.ConhecaText {
    position: absolute;
    width: 550px;
    height: 77px;
    left: 130px;
    top: 692px;
    font-family: 'M PLUS Code Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 53px;
    color: #fff;
}

.blackbox {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 328px;
    margin-left: 104px;
    width: 785px;
    height: 35px;
    border-radius: 30px;
}

.blackbox2 {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 0;
    margin-left: 195px;
    width: 692px;
    height: 30px;
    border-radius: 30px;
}

.blackbox3 {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    margin-left: 519px;
    width: 365px;
    height: 30px;
    border-radius: 30px;
}

.blackbox4 {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    width: 410px;
    height: 60px;
    margin-top: 230px;
    margin-left: 100px;
}


