/* Estilo para a navbar */

.container {
    background-image: url('../../assets/caminhoesFundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px;
}

.profile {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 39px;
    margin-left: 13px;
    cursor: pointer;
}

.logo-container img {
    height: 105px;
    cursor: pointer;
    /* Ajuste a altura da logo conforme necessário */
}

.navbar-item {
    margin-left: 10px;
    /* Adicione margem entre os itens da navbar conforme necessário */
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-menu {
    /* Adicione estilos para o menu de perfil aqui */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #000;
    padding: 10px;
}

.profile-menu-item {
    color: #FFFFFF;
    /* Adicione estilos para os itens do menu de perfil aqui */
    margin-bottom: 10px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    /* Adicione outros estilos de acordo com suas preferências */
}

.profile-menu-item:hover {
    /* Adicione estilos para os itens do menu de perfil quando estiverem em hover */
    background-color: #333;
    /* Adicione outros estilos de acordo com suas preferências */
}

.profile-menu-container {
    /* Estilos para o container do menu de perfil */
    position: absolute;
    top: 155px; /* Ajuste a posição vertical do menu de acordo com sua necessidade */
    right: 20px; /* Ajuste a posição horizontal do menu de acordo com sua necessidade */
    z-index: 1; /* Certifique-se de que o menu esteja acima do conteúdo da página */
}

/* Estilos para o modal de perfil */
.modal-container {
    /* Estilos para o container do modal */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adicione um fundo semi-transparente para o modal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Certifique-se de que o modal esteja acima do menu de perfil e do conteúdo da página */
}

.modal-content {
    /* Estilos para o conteúdo do modal */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    /* Adicione outros estilos de acordo com suas preferências */
}
/* Outros estilos */
/* Adicione outros estilos necessários para o conteúdo restante da página */