.containerPayment {
  position: absolute;
  background-image: url('../../assets/fundoPayment.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.payment-image {
  margin-top: 145px;
  margin-right: 640px;
  margin-bottom: -330px;
}

.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 210px;
  margin-left: 275px;
  width: 1300px;
  height: 652px;
  left: 234px;
  top: 196px;
  background: rgba(0, 0, 0, 0.8);
}

.payment-input {
  width: 100%;
  max-width: 40em;
  margin-top: 5px;
  margin-left: 600px;
  margin-bottom: 10px;
  height: 58px;
  left: 690px;
  border-radius: 61px;
}


.infoCheckout {
  position: absolute;
  width: 616px;
  height: 33px;
  left: 300px;
  top: 205px;

  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #2D2A2A;

}

.pagCheckout {
  position: absolute;
  width: 616px;
  height: 33px;
  left: 535px;
  top: 205px;

  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #FFFFFF;
}

.fimCheckout {
  position: absolute;
  width: 616px;
  height: 33px;
  left: 750px;
  top: 205px;

  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #6B6868;
}

.payment-submit-button {
  width: 200px;
  height: 50px;
  margin-left: 595px;
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 43px;

  color: #000000;

  background: #FFFFFF;
  border-radius: 67px;
}