/* ChangePassword.css */

@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500;600;700&family=M+PLUS+Code+Latin:wght@300;400;500;600;700&display=swap');

.logoCP {
    position: absolute;
    height: 45%;
    margin-left: 55px;
    margin-top: -115px;
    z-index: 999;
  }
  
  .faixaCP {
    /* Rectangle 1 */
    position: absolute;
    width: 782px;
    height: 100%;
    left: -5px;
    top: 0;
    bottom: 0;
  }
  
  .changePasswordTitle {
    text-align: center;
    font-size: 24px;
    margin-top: 150px;
    margin-left: 800px;
    margin-bottom: -40px;
    font-family: 'K2D', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 83px;
    color: #000000;
  }
  
  .changePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formCP {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .togglePasswordVisibility {
    height: 35px;
    width: 3%;
    margin-top: 35px;
    margin-left: 1310px;
    margin-bottom: -5.5%;
    z-index: 999;
  }
  
  .inputCP {
    width: 580px;
    height: 72px;
    padding: 10px;
    margin-top: 130px;
    margin-left: 800px;
    margin-bottom: -100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background: rgba(54, 51, 51, 0.1);
    mix-blend-mode: hard-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }

  .inputCP::placeholder {
    color: rgb(105, 107, 105);
    font-family: 'M PLUS Code Latin';
    font-size: 180%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .submit {
    width: 414px;
    height: 68px;
    margin-top: 175px;
    margin-left: 800px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-family: 'K2D', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 174.89%;
    /* or 70px */

    align-items: center;
    letter-spacing: -0.03em;
    background-color: #000000;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  