.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 102x;
}

.nav-links {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    z-index: 2;
    font-family: 'K2D', sans-serif;
    font-size: 20px;
    margin-top: 28px;
    text-shadow: 1px 1px 1px #000000;
}

.nav-links li a {
    z-index: 2;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    padding: 10px;
    margin-top: 15px;
}

.nav-links li a:hover {
    z-index: 2;
    border: 2px solid #666;
    border-radius: 20px;
}

.search-icon {
    display: flex;
    z-index: 2;
    cursor: pointer;
    margin-right: 80px;
    margin-top: 38px;
    flex-direction: row-reverse;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
}